/* nav, header {
    background-image: ;
} */

img {
    height: 150px;
    width: 150px;
    border-radius: 50%;
  }

  /* .jumbotron{
    background-image: url('../digitous-html-cuisine/img/header.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   } */